version: '3.9'

services:
  test:
    build:
      context: ./server
      dockerfile: Dockerfile.test
    image: myapp-server-test
    container_name: myapp-server-test
    volumes:
      - ./server/:/usr/src/app
      - /usr/src/app/node_modules
    networks:
      - app-network

networks:
    app-network:
        driver: bridge

